
@{
    ViewBag.Title = "Addtestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Referans Eklem Sayfas</h2>
<form method="post">
    <label>Referans Ad Soyad</label>
    <input type="text" name="NameSurname" class="form-control" required />
    <br />
    <label>Resim</label>
    <input type="text" name="ImageUrl" class="form-control" required />
    <br />
    <label>Başlık</label>
    <input type="email" name="Title" class="form-control" required />
    <br />
    <label>Yorum</label>
    <input type="text" name="Comment" class="form-control" required />
    <br />
    <label>Durum</label>
    <input type="text" name="Status" class="form-control" required />
    <br />
    <br />
    <button class="btn btn-primary">Öğrenci Kaydet</button>
</form>

