
@{
    Layout = null;
}
<div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
    <form method="post">
        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="name" placeholder="Your Name" name="NameSurname">
                    <label for="name">Ad Soyad</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" placeholder="Your Email" name="Mail">
                    <label for="email">Mail</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" class="form-control" id="subject" placeholder="Subject" name="Subject">
                    <label for="subject">Konu</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px" name="Message" ></textarea>
                    <label for="message">Mesaj</label>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-secondary btn-style mt-4">Mesajı Gönder</button>
            </div>
        </div>
    </form>



</div>