
@{
    ViewBag.Title = "AddInstructor";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Eğitmen Kaydı </h2>
<form method="post">
    <br />
    <label>Eğitmen Adı</label>
    <input type="text" class="form-control" name="Name" />
    <br />
    <label>Eğitmen Soyadı</label>
    <input type="text" class="form-control" name="Surname" />
    <br />
    <label>Eğitmen Görseli</label>
    <input type="text" class="form-control" name="ImageUrl" />
    <br />
    <button class="btn btn-outline-primary">Eğitmen Kaydet</button>

</form>

